* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('fondi.jpg');
    background-position:center
}

.form-register {
  width: 400px;
  background: #B6E3E9;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: lightskyblue;
  box-shadow: 7px 13px 37px #000;
}

    .form-register h4 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
        color: plum;
    }

.controls {  
    text-align: center;
    width: 100%;
    background: lightBlue;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Times New Roman';
    font-size: 18px;
    color:black;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color:darkslategrey;
}

.form-register a {
  color: blueviolet;
  text-decoration: none;
  font-size:medium;
}

.form-register a:hover {
  color: slateblue;
  text-decoration: underline;
}

buttons {
  width: 100%;
  background: #abdbe3;
  border: none;
  padding: 12px;
  color: blueviolet;
  margin: 16px 0;
  font-size: 16px;
}
